@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-7xl.mx-auto.px-4.py-3 {
    display: none;
}
.brightness-100 {
    --tw-brightness: brightness(100);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
img.h-10.w-10.object-cover.filter.brightness-100 {
    height: 3.5rem;
}
a.flex.items-center.space-x-2.font-bold.text-lg.hover\:text-gray-800.transition-colors.duration-200 {
    font-size: 2.125rem;
    align-items: center;
    text-align: center;
    line-height:1.09;
}
svg.lucide.lucide-phone.w-5.h-5 {
    width: 2.5rem;
    height: 2.5rem;
}

img.h-10.w-10.object-cover {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 35px;
}

.h-96 {
    height: 26rem;
}


