@tailwind base;
@tailwind components;
@tailwind utilities;
.pt-32 {
    padding-top: 7rem;
}

header.fixed.top-12.left-0.right-0.bg-black\/95.backdrop-blur-md.z-40.border-b.border-white\/10.shadow-lg {
    align-items: center;
    text-align: center;
    margin-top: 4px;
}
img.h-10.w-10.object-cover {
    border-radius: 30px;
    width: 2.5rem;
    height: 2.5rem;
}
@media (max-width: 425px) {
  a.flex.items-center.space-x-3.font-bold.text-xl.md\:text-2xl.lg\:text-3xl.hover\:text-gray-800.transition-colors.duration-200 {
    font-size: 18px !important;
  }
}

.fixed.top-0.left-0.right-0.z-50.bg-yellow-400.text-black.shadow-lg {
    background-color: #0189ef;
    color: #fff;
}
span.text-yellow-400 {
    color: #0189ef;
}
.text-yellow-400.text-xs.sm\:text-xs.lg\:text-sm.font-light.italic.leading-tight.sm\:block {
    color: #0189EF;
}
a.text-sm.\32 xl\:text-base.font-medium.transition-colors.duration-200.whitespace-nowrap.text-white.hover\:text-yellow-400 {
    color: #fff;
}
a.text-sm.\32 xl\:text-base.font-medium.transition-colors.duration-200.whitespace-nowrap.text-yellow-400 {
    color: #1089ef;
}
button.bg-yellow-400.text-black.px-8.py-4.rounded-md.font-medium.hover\:bg-yellow-500.transition-colors.duration-200.inline-flex.items-center.space-x-2 {
    background: #1089ef;
    color: #fff;
}
