@tailwind base;
@tailwind components;
@tailwind utilities;
.pt-32 {
    padding-top: 7rem;
}

header.fixed.top-12.left-0.right-0.bg-black\/95.backdrop-blur-md.z-40.border-b.border-white\/10.shadow-lg {
    align-items: center;
    text-align: center;
    margin-top: 4px;
}
img.h-10.w-10.object-cover {
    border-radius: 30px;
    width: 2.5rem;
    height: 2.5rem;
}
@media (max-width: 425px ){
    a.flex.items-center.space-x-3.font-bold.text-xl.md\:text-2xl.lg\:text-3xl.hover\:text-gray-800.transition-colors.duration-200 {
    font-size: 18px !important;
}
